# ===============================
# API
# ===============================
API_PORT=5000
ASPNETCORE_ENVIRONMENT=Development

# ===============================
# POSTGRES
# ===============================
POSTGRES_PORT=5432
POSTGRES_DB=aquagas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Connection string usada pela API
CONNECTION_STRING=Host=postgres;Port=5432;Database=aquagas;Username=postgres;Password=postgres

# ===============================
# REDIS
# ===============================
PORT_REDIS=6379
REDIS_CONNECTION=redis:6379

# ===============================
# JWT
# ===============================
JWT__KEY=CHANGE_ME_SECRET_KEY_32_CHARS_MIN
JWT__ISSUER=AquaGas.API
JWT__AUDIENCE=AquaGas.Client